<div class="bg-image"></div>
<div class="box-login">
  <div class="small-container">
    <h2 class="title">Login</h2>
    <div class="row">
      <form [formGroup]="loginFormGroup">
        <div class="container">
          <div>
            <label for="email"><b>Email</b></label>
            <input
              formControlName="email"
              type="text"
              placeholder="Enter Email"
              name="email"
              id="email"
              required
            />
  
            <small
              *ngIf="loginForm['email'].invalid && isSubmitted"
              class="p-error"
              ><span *ngIf="loginForm['email'].errors?.['required']"
                >*Email is required</span
              >
              <span *ngIf="loginForm['email'].errors?.['email']"
                >*Email is invalid</span
              ></small
            >
          </div>
          <div>
            <label for="psw"><b>Password</b></label>
            <input
              formControlName="password"
              type="password"
              placeholder="Enter Password"
              name="psw"
              id="psw"
              required
            />
            <small *ngIf="loginForm['password'].invalid && isSubmitted"
              ><span *ngIf="loginForm['password'].errors?.['required']"
                >*Email is required</span
              >
            </small>
          </div>
  
          <hr />
  
          <p>
            <a (click)="openDialog()" style="color: dodgerblue">Forget Password</a
            >.
          </p>
  
          <button type="submit" class="registerbtn" (click)="submit()">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
  
</div>
