<div class="container">
  <div class="box-add-student">
    <form [formGroup]="form!">
      <div class="name-form"><p>Add New Student</p></div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >First Name</label
        >
        <input
          formControlName="first_name"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
        <small *ngIf="studentForm['first_name'].invalid && isSubmitted"
          >*First Name is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Last Name</label
        >
        <input
          formControlName="last_name"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
        <small *ngIf="studentForm['last_name'].invalid && isSubmitted"
          >*Last Name is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gender</label>
        <select
          formControlName="gender"
          [(ngModel)]="selectedGender"
          class="form-control"
          id="exampleFormControlInput1"
        >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <small *ngIf="studentForm['gender'].invalid && isSubmitted"
          >*Gender is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Father Name</label
        >
        <input
          formControlName="father_name"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />

        <small *ngIf="studentForm['father_name'].invalid && isSubmitted"
          >*Last Name is required</small
        >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Mother Name</label
        >
        <input
          formControlName="mother_name"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />

        <small *ngIf="studentForm['mother_name'].invalid && isSubmitted"
          >*Last Name is required</small
        >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Date of Birth</label
        >
        <input
          formControlName="date_of_birth"
          type="date"
          class="form-control"
          id="exampleFormControlInput1"
        />

        <small *ngIf="studentForm['date_of_birth'].invalid && isSubmitted"
          >*Date of birth is required</small
        >
        <br />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Father Occupation</label
        >
        <input
          formControlName="father_occupation"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />

        <small *ngIf="studentForm['father_occupation'].invalid && isSubmitted"
          >*Father Occupation is required</small
        >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Blood Group</label
        >
        <!-- <input
              formControlName="blood_group"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
            /> -->
        <select
          formControlName="blood_group"
          [(ngModel)]="selectedBloodGroup"
          class="form-control"
          id="exampleFormControlInput1"
        >
          <option value="A-">A-</option>
          <option value="A+">A+</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB-">AB-</option>
          <option value="AB+">AB+</option>
        </select>
        <small *ngIf="studentForm['blood_group'].invalid && isSubmitted"
          >*Blood Group is required</small
        >
      </div>


      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Religion</label
        >
        <!-- <input
              formControlName="religion"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
            /> -->
        <select
          formControlName="religion"
          [(ngModel)]="selectedReligion"
          class="form-control"
          id="exampleFormControlInput1"
        >
          <option value="Islam">Islam</option>
          <option value="Hindu">Hindu</option>
          <option value="Buddhist">Buddhist</option>
          <option value="Christian">Christian</option>
          <option value="Others">Others</option>
        </select>

        <small *ngIf="studentForm['religion'].invalid && isSubmitted"
          >*Religion is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />

        <small *ngIf="studentForm['email'].invalid && isSubmitted"
          ><span *ngIf="studentForm['email'].errors?.['required']"
            >*Email is required</span
          >
          <span *ngIf="studentForm['email'].errors?.['email']"
            >*Email is invalid</span
          ></small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >YearAcademic</label
        >
        <input
          formControlName="year_academic"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
        <small *ngIf="studentForm['year_academic'].invalid && isSubmitted"
          >*Year Academic is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Addmission Date</label
        >
        <input
          formControlName="addmission_date"
          type="date"
          class="form-control"
          id="exampleFormControlInput1"
        />

        <small *ngIf="studentForm['addmission_date'].invalid && isSubmitted"
          >*Addmission Date is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Class</label>
        <!-- <input
              formControlName="kelas"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
            /> -->
        <select
          formControlName="kelas"
          [(ngModel)]="selectedClass"
          class="form-control"
          id="exampleFormControlInput1"
        >
          <option *ngFor="let kel of allClass" value="{{ kel._id }}">
            {{ kel.class_name }}
          </option>
        </select>
        <small *ngIf="studentForm['kelas'].invalid && isSubmitted"
          >*Class is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Address</label>
        <input
          formControlName="address"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
        <small *ngIf="studentForm['address'].invalid && isSubmitted"
          >*Address is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone</label>
        <input
          formControlName="phone"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
        <small *ngIf="studentForm['phone'].invalid && isSubmitted"
          >*Phone is required</small
        >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Short Bio</label
        >
        <input
          formControlName="short_bio"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
        <small *ngIf="studentForm['short_bio'].invalid && isSubmitted"
          >*Short Bio is required</small
        >
      </div>

      <div>
        <img [src]="imageDisplay" alt="" />
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload Student Photo</label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          accept="image/*"
          (change)="uploadImage($event)"
        />
        <small *ngIf="studentForm['image'].invalid && isSubmitted"
          >*Image is required</small
        >
      </div>
      <button class="save" (click)="submitData()"><p>Save</p></button>
    </form>
  </div>
</div>
