<mat-tab-group>
  <mat-tab label="All Students">
    <div class="box-list">
      <div class="title">
        <div class="head"><p>All Student</p></div>
      </div>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let data of allStudent"
        style="padding-bottom: 10px; margin-bottom: 7px"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ data?.first_name }} {{ data?.last_name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <tr>
          <p>{{ data?.id }}</p>
        </tr>
        <tr>
          <p>{{ data?.gender }}</p>
        </tr>
        <tr>
          <p>{{ data?.kelas.class_name }}</p>
        </tr>
        <tr>
          <button class="detail" mat-raised-button routerLink="/studentdetails/{{ data?.id }}">
            Detail
          </button>
          <button class="edit" mat-raised-button routerLink="/studentedit/{{ data?.id }}">
            Edit
          </button>
        </tr>
      </mat-expansion-panel>
    </div>
  </mat-tab>

  <mat-tab label="{{ kls?.class_name }}" *ngFor="let kls of kelas">
    <div class="box-kelas">
      <headmaster-student-by-class
        [parentData]="kls?._id"
      ></headmaster-student-by-class>
    </div>
  </mat-tab>
</mat-tab-group>
