input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  background-color: #007bff;
  color: white;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='submit']:hover {
  box-shadow: 2px 2px rgb(165, 165, 165);
}

.detail-profil {
  width: 80%;
  margin: 10px auto;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 2px #a8a6a6;
  display: flex;
}
.photo {
  margin: 20px;
  height: max-content;
  background: #e7e7e7;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  width: 470px;
  box-shadow: 2px 2px #e6e5e5;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
img.photo-profil {
  border: 1px solid white;
  clip-path: circle();
  margin: 0 auto;
  min-height: 185px;
}
.container-profil {
  width: max-content;
  margin: 30px auto;
  height: 100%;
}
.bio {
  width: 100%;
}
.container {
  margin: 0 auto;
}
input#formFile {
  border: 1px solid silver;
  background: #d7d7d7;
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: sans-serif;
  padding: 3px;
}
.save-image {
  width: max-content;
  margin: 10px;
}
.title-edit {
  text-align: center;
  font-size: 40px;
  margin: 38px;
  color: #ffffffa3;
}

small {
  display: block;
  margin-bottom: 10px;
  color: red;
}

/* Removes the clear button from date inputs */
input[type='date']::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type='date']::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type='date']::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type='date'] {
  margin-bottom: 10px;
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type='date'],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
