#classess {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classess td,
#classess th {
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
  text-align: center;
}

#classess tr:nth-child(even) {
  background-color: #f2f2f2;
}

#classess tr:hover {
  background-color: #ddd;
}

#classess th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
  text-align: center;
}
.box-class{
  border:1px solid;
  width: max-content;
  margin-top: 20px;
}
p {
  font-size: 15px;
  font-family: sans-serif;
}