

<section class=" mt-4 text-center">
  <div class="row">

    <div class="col-md-12 col-lg-12 mb-4 mb-lg-0">
      <div class="rounded-3 bg-card p-3 mb-3">

        <div class="rounded-3 bg-card p-1 mb-2">
          <h3 class="bg-text">Academic Year Table</h3>
        </div>

        <div class="example-header bg-secondary mb-3 p-1 rounded-3">
          <mat-form-field class="search-form-field">
            <input
              matInput
              type="text"
              placeholder="search by userName/academic Year"
              (keyup)="doFilter($event.target.value)"
            />
          </mat-form-field>
        </div>
      
        <mat-table [dataSource]="dataSource" matSort matSortStart="asc" class="bg-secondary p-3  rounded-3">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row._id }} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.first_name }} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Gender
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.gender }} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="academicYear">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Year
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.year_academic }} </mat-cell>
          </ng-container>
      
          <!-- ID Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[15]" class="bg-secondary rounded-3"></mat-paginator>
      </div>
    </div>

  </div>
 </section>

<div class="example-container mat-elevation-z8">

  
</div>
