<div mat-dialog-content>
  <h3>Reset Password</h3>
  <mat-form-field appearance="fill" [formGroup]="form">
    <mat-label>Your Email</mat-label>
    <input type="email" matInput placeholder="Email" formControlName="email" />
    <small *ngIf="resetForm['email'].invalid && isSubmitted" class="p-error"
      ><span *ngIf="resetForm['email'].errors?.['required']"
        >*Email is required</span
      >
      <span *ngIf="resetForm['email'].errors?.['email']"
        >*Email is invalid</span
      ></small
    >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="reset()">
    Reset Password
  </button>
</div>
