<div class="row">
  <div class="box bg-primary p-3 mb-3">
    <i class="uil-eye"></i>
    <h3 class="text-cards">hahahaha</h3>
    <p class="lead text-cards">Total Teacher</p>
  </div>
</div>

<nav>
  <ul>
    <li>
       <label>
          <input type="checkbox" name="">
          <div class="icon-box">
           <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
       </label>
    </li>
  
    <li>
     <label>
        <input type="checkbox" name="">
        <div class="icon-box">
           <i class="fa fa-volume-up" aria-hidden="true"></i>
        </div>
     </label>
  </li>
  
  <li>
     <label>
        <input type="checkbox" name="">
        <div class="icon-box">
           <i class="fa fa-plane" aria-hidden="true"></i>
        </div>
     </label>
  </li>
  
  <li>
     <label>
        <input type="checkbox" name="">
        <div class="icon-box">
           <i class="fa fa-moon-o" aria-hidden="true"></i>
        </div>
     </label>
  </li>
  
  <li>
     <label>
        <input type="checkbox" name="">
        <div class="icon-box">
           <i class="fa fa-wifi" aria-hidden="true"></i>
        </div>
     </label>
  </li>
  
  <li>
     <label>
        <input type="checkbox" name="">
        <div class="icon-box">
           <h1 aria-hidden="true">1</h1>
        </div>
     </label>
  </li>
  </ul>
</nav>



<button mat-raised-button color="primary" (click)="openDialog1()">
  Add Event
</button>

<mat-list>
  <mat-list-item *ngFor="let kel of allClass">
    <mat-checkbox color="primary" (click)="scheduleFilter(kel._id)">{{
      kel.class_name
    }}</mat-checkbox>
  </mat-list-item>
</mat-list>

<full-calendar
  id="schedule"
  *ngIf="calendarVisible"
  [options]="calendarOptions"
></full-calendar>
<button mat-raised-button color="primary" (click)="convertToPDF()">
  convertToPDF
</button>
