* {
  box-sizing: border-box;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100vh;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}

#subjects {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#subjects td,
#subjects th {
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
  text-align: center;
}

#subjects tr:nth-child(even) {
  background-color: #f2f2f2;
}

#subjects tr:hover {
  background-color: #ddd;
}

#subjects th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
  text-align: center;
}
small {
  display: block;
  margin-bottom: 10px;
  color: red;
}
.submit {
  width: 75px;
  background: blue;
  color: white;
}
button.delete {
  width: 65px;
  border-radius: 5px;
  background: #ff3c3c;
  color: white;
}
button.edit {
  width: 65px;
  border-radius: 5px;
  color: white;
  background: blue;
}

button {
  margin: 2px 0;
  border: none;
}
.box-button {
  display: grid;
}
