.container {
    /* border: 1px solid; */
    height: 90vh;
    /* align-items: center; */
}
.box-not-found {
    /* border: 1px solid red; */
    width: max-content;
    margin: 0 auto;
    /* top: 50%; */
    margin-top: 25vh;
    display: flex;
    background: #fffffff2;
    border-radius: 10px;
    padding: 15px;
}
.icon {
    font-size: 30vh;
}
.text {
    height: max-content;
    margin: auto 0;
    font-size: 80px;
    margin-left: 60px;
    text-align: center;
    margin: 0 auto;
}
.text2{
    margin-left: 60px;
    height: max-content;
    letter-spacing: 3px;
    font-family: sans-serif;
    margin: 0 auto;
}
.box {
    height: max-content;
    margin: auto 23px;
}