<!-- <div class="container vh-100 d-inline-block">
  <div class="title">
    <div class="head">
      <p>Head Master Dashboard</p>
    </div>
  </div>
  <div class="route">
    <p>Home <span> > Add New Class</span></p>
  </div>
  <div class="list-box">
    <div class="box">
      <div class="logo"><img src="/assets/images/student" alt="" /></div>
      <div class="name-amount">
        <p>Students</p>
        <p>{{ totalStudent }}</p>
      </div>
    </div>
    <div class="box">
      <div class="logo"><img src="/assets/images/female.png" alt="" /></div>
      <div class="name-amount">
        <p>Teachers</p>
        <p>{{ totalTeacher }}</p>
      </div>
    </div>
    <div class="box">
      <div class="logo"><img src="/assets/images/parents.png" alt="" /></div>
      <div class="name-amount">
        <p>Parents</p>
        <p>{{ totalParent }}</p>
      </div>
    </div>
  </div>
  <div class="container-charts">
    <headmaster-chartdoughnut></headmaster-chartdoughnut>
    <headmaster-chartbar></headmaster-chartbar>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">

<!-- main content -->
<main class="container-fluid">
  <section class="row">
    <div class="col-md-6 col-lg-4">
      <!-- card -->
      <article class="p-4 rounded shadow-sm border-left
         mb-4">
        <a class="d-flex align-items-center">
          <span class="bi bi-box h5"></span>
          <h5 class="ml-2">Student</h5>
        </a>
        <h5>{{totalStudent}}</h5>
      </article>
    </div>
    <div class="col-md-6 col-lg-4">
      <article class="p-4 rounded shadow-sm border-left mb-4">
        <a href="#" class="d-flex align-items-center">
          <span class="bi bi-person h5"></span>
          <h5 class="ml-2">Teacher</h5>
        </a>
        <h5>{{totalTeacher}}</h5>
      </article>
    </div>
    <div class="col-md-6 col-lg-4">
      <article class="p-4 rounded shadow-sm border-left mb-4">
        <a href="#" class="d-flex align-items-center">
          <span class="bi bi-person-check h5"></span>
          <h5 class="ml-2">Sellers</h5>
        </a>
        <h5>{{totalParent}}</h5>
      </article>
    </div>
  </section>
  
  <section class="row">
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4" style="height: 450px;">
        <div class="container">
        <h1 class=" mb-2 text-secondary">All Students</h1>
        <headmaster-chartdoughnut></headmaster-chartdoughnut>
        </div>
        </div>
    </div>

    <div class="col-6">
      <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4" style="height: 450px;">
        <div class="container">
        <h1 class=" mb-2 text-secondary">New Students</h1>
        <headmaster-chartbar ></headmaster-chartbar>
        </div>
        </div>
    </div>
  </section>

</main>
</div>
</div>