
<mat-sidenav-container class="d-md-block side-navbar">

  <mat-sidenav #sidenav opened mode="side">
    <div class="title">
      <div class="logo">
        <img
          src="https://1.bp.blogspot.com/-xIkvr4n2wEI/YNar8NwrMzI/AAAAAAAAFjM/2ThacZ35jXsa3fzsFgUvPgGX4uTQCR7dgCLcBGAsYHQ/512%2Blogo%2Bnew.png"
          width="150"
        />
      </div>
    </div>
    <ul class="list nav">
      <li>
        <a routerLink="dashboard" class="nav-link"
          ><img class="icon-list" src="assets/images/dashboard.png" alt=""> Dashboard</a
        >
      </li>

      <li>
        <a (click)="showTeacher = !showTeacher" class="nav-link"><img class="icon-list" src="assets/images/teacher.png" alt="">Teacher</a>
      </li>
      <div class="submenu">
        <li><a *ngIf="showTeacher" routerLink="/teacher">Teacher List</a></li>
        <li>
          <a *ngIf="showTeacher" routerLink="/addteacher"> Add Teacher</a>
        </li>
      </div>

      <li>
        <a (click)="showStudent = !showStudent" class="nav-link"><img class="icon-list" src="assets/images/student.png" alt=""> Student</a>
      </li>
      <div class="submenu">
        <li><a *ngIf="showStudent" routerLink="/student">Student List</a></li>
        <li>
          <a *ngIf="showStudent" routerLink="/addstudent"> Add Student</a>
        </li>
      </div>

      <li>
        <a (click)="showParent = !showParent" class="nav-link"><img class="icon-list" src="assets/images/parents.png" alt="">Parent</a>
      </li>
      <div class="submenu">
        <li><a *ngIf="showParent" routerLink="/parent">Parent List</a></li>
        <li><a *ngIf="showParent" routerLink="/addparent"> Add Parent</a></li>
      </div>

      <li>
        <a (click)="showClass = !showClass" class="nav-link"><img class="icon-list" src="assets/images/seminar.png" alt="">Class</a>
      </li>
      <li><a *ngIf="showClass" routerLink="/class">All Classes</a></li>
      <li><a *ngIf="showClass" routerLink="/addclass"> Add New Class</a></li>

      <li>
        <a routerLink="/subject" class="nav-link"><img class="icon-list" src="assets/images/books.png" alt="">Subjects</a>
      </li>

      <li>
        <a routerLink="/schedule" class="nav-link"><img class="icon-list" src="assets/images/schedule.png" alt="">Schedule</a>
      </li>

      <li>
        <a routerLink="/academicyear" class="nav-link"><img class="icon-list" src="assets/images/graduate-hat.png" alt="">Academic Year</a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="row">


</mat-sidenav-container>
